<div class="page-title">
    <h2>X-Wingman</h2>
</div>
<div class="row">
    <div class="col-sm-12">

        <p>This is a simple, fast, no-frills squad builder for <a href="http://www.fantasyflightgames.com/edge_minisite.asp?eidm=174&amp;enmi=X-Wing">X-Wing Miniatures</a> by <a href="http://www.fantasyflightgames.com/index.asp">Fantasy Flight Games</a>.  It is pure HTML, JavaScript, and CSS and requires no backend, and can be dropped into place on any website (with maybe a few CSS tweaks).</p>

        <p>Icons and fonts courtesy GeckoTH's excellent PSD, available on <a href="http://www.afewmaneuvers.com/forums/viewtopic.php?f=28&amp;t=183">A Few Maneuvers</a>.</p>

        <p>X-Wing symbols font courtesy <a href="https://github.com/Hinny">Hinny</a>.</p>

        <p>Fancy printout design inspired by TheKestrel on the FFG forums.</p>

        <p>German translation by <a href="https://github.com/failgod-marcus">failgod</a> and <a href="https://github.com/strikegun">strikegun</a> from FFG Forums.</p>

        <p>Spanish translation by <a href="http://boardgamegeek.com/user/sebaslocox">evil_wins Solo</a> from BoardGameGeek forums and <a href="https://github.com/negroscuro">negroscuro</a>.</p>

        <p>French translation by <a href="https://github.com/pejuaxel">pejuaxel</a>.</p>

        <p>Maneuver dial functionality by <a href="https://github.com/hpanderson">hpanderson</a>.</p>

    </div>
</div>