<div class="page-title">
  <h2>X-Wingman <small>- X-Wing Miniatures Companion App</small></h2>
</div>
<div class="row">
  <div class="col-sm-12">
    <p>This is a simple and fast companion app for <a href="http://www.fantasyflightgames.com/edge_minisite.asp?eidm=174&amp;enmi=X-Wing">X-Wing Miniatures</a> by <a href="http://www.fantasyflightgames.com/index.asp">Fantasy Flight Games</a>. It is based on the great <a href="https://github.com/geordanr/xwing">squad builder</a> by <a href="https://github.com/geordanr">Geordan Rosario</a>.</p>
    <p>Icons and fonts courtesy GeckoTH's excellent PSD, available on <a href="http://www.afewmaneuvers.com/forums/viewtopic.php?f=28&amp;t=183">A Few Maneuvers</a>.</p>
    <p>X-Wing symbols font courtesy <a href="https://github.com/Hinny">Hinny</a>.</p>
    <p>Fancy printout design inspired by TheKestrel on the FFG forums.</p>
    <p>Maneuver dial functionality by <a href="https://github.com/hpanderson">hpanderson</a>.</p>
  </div>
</div>