<div class="jumbotron">
  <h2>X-Wingman <small>- X-Wing Miniatures Companion App</small></h2>
  <p class="lead">
    A small, lightweight and fast Companion App for the X-Wing Miniatures Game by FantasyFlight.
    <ul>
      <li>Manage your X-Wing Miniatures collection</li>
      <li>Browse all available cards</li>
      <li>Create and manage your squads</li>
      <li>Print, save and share squads</li>
    </ul>
  </p>
</div>

<div class="row marketing">
  <div class="col-sm-6">
    <h3>Features</h3>
    <hr/>
    <h4><i class="fa fa-html5 fa-fw"></i> HTML5 Boilerplate</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4><i class="fa fa-adn fa-fw"></i> Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4><i class="fa fa-cubes fa-fw"></i> Bower</h4>
    <p>
      Bower is a package manager for the web.
    </p>

    <h4><i class="fa fa-cog fa-fw"></i> Grunt</h4>
    <p>
      Uses Grunt as a task runner for automation.
    </p>

    <h4><i class="fa fa-tasks fa-fw"></i> Karma</h4>
    <p>
      Spectacular Test Runner for JavaScript.
    </p>
  </div>
</div>
