<div>
<!-- faction selector -->
<div class="row">
  <div class="col-sm-12 text-center">
    <button class="btn btn-primary btn-xlarge" data-ng-model="faction" btn-radio="'Rebel Alliance'"><i class="fa fa-rebel fa-3x"></i> <p>{{ 'UI.Rebel Alliance' | translate }}</p></button>
    <button class="btn btn-primary btn-xlarge" data-ng-model="faction" btn-radio="'Galactic Empire'"><i class="fa fa-ge fa-3x"></i> <p>{{ 'UI.Galactic Empire' | translate }}</p></button>
    <button class="btn btn-primary btn-xlarge" data-ng-model="faction" btn-radio="'Scum and Villainy'"><i class="fa xwing-font xwing-font-3x xwing-font-illicit"></i> <p>{{ 'UI.Scum and Villainy' | translate }}</p></button>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-12 squad-name">
    <input type="text" class="form-control" placeholder="Enter a squad name" data-ng-model="ships.info.name" />
  </div>
</div>

<hr/>

<!-- ship selector -->
<div class="row">
  <div class="col-sm-10">
    <ui-select ng-model="s.selected" theme="bootstrap">
      <ui-select-match placeholder="Select or search a ship in the list...">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="ship in cards.ships | listfilter:faction | filter:$select.search">
        <div ng-bind-html="ship.name | highlight: $select.search"></div>
        <ul class="list-inline">
          <li data-ng-repeat="a in ship.actions track by $index" class="icon-list">
            <i class="xwing-font" data-ng-class="{
                                    'xwing-font-boost': a === 'Boost',
                                    'xwing-font-focus': a === 'Focus',
                                    'xwing-font-evade': a === 'Evade',
                                    'xwing-font-reinforce': a === 'Reinforce',
                                    'xwing-font-targetlock': a === 'Target Lock',
                                    'xwing-font-recover': a === 'Recover',
                                    'xwing-font-coordinate': a === 'Coordinate',
                                    'xwing-font-jam': a === 'Jam',
                                    'xwing-font-barrelroll': a === 'Barrel Roll',
                    }" alt="{{a}}" title="{{a}}" data-tooltip="{{a}}"></i>
          </li>
        </ul>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-success pull-right" data-ng-click="addToCollection(s.selected)"><i class="fa fa-plus"></i> Add to squad</button>
  </div>
</div>

<hr/>

<!-- selected ships -->
<div data-ng-show="ships.selected[0]" class="row">
<div class="col-sm-1">
  <strong data-ng-class="{'text-danger': squadTotal > 100}">{{ squadTotal }} / 100</strong>
</div>
<div class="col-sm-11">
  <progress class="progress-striped"><bar ng-repeat="bar in pointsTotal track by $index" value="bar.value" type="{{bar.type}}"><span data-ng-hide="bar.value < 5">{{bar.ship}} ({{bar.value}})</span></bar></progress>
</div>

<div class="col-sm-12 col-md-6" data-ng-repeat="ship in ships.selected track by $index" data-ng-controller="SquadCtrl">
  <div class="panel panel-default box-shadow">
    <div class="panel-heading" style="color: #f5f5f5; background: #333 url(images/data/pilots/{{ ship.pilot.id }}.png) no-repeat right">
      <h4>{{ ship.name }} <small>Points: {{ ship.points }}</small>
        <button data-ng-click="ships.selected.splice($index,1)" class="btn btn-sm btn-danger pull-right" data-tooltip="remove ship from squad"><i class="fa fa-remove"></i></button>
      </h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-callout-warning box-callout">
            <ui-select ng-model="ship.pilot" on-select="changePilot($item, $model)">
              <ui-select-match placeholder="Select or search a pilot for {{ship.name}}">{{$select.selected.name}} - ({{$select.selected.points}})</ui-select-match>
              <ui-select-choices repeat="pilot in cards.pilotsById | filter:ship.name:pilot.ship | filter: $select.search | orderBy:'points'">
                <div><span data-ng-if="pilot.unique == true"><small><i class="fa fa-asterisk"></i></small> </span><span data-ng-bind-html="pilot.name | highlight: $select.search"></span> ({{pilot.points}})</div>
                <ul class="list-inline">
                  <li><span class="label label-warning" data-tooltip="{{ 'UI.Skill' | translate }}">{{pilot.skill}}</span></li>
                  <li data-ng-repeat="s in pilot.slots track by $index">
                    <i class="xwing-font" data-ng-class="{
                                                    'xwing-font-missile': s === 'Missile',
                                                    'xwing-font-cargo': s === 'Cargo',
                                                    'xwing-font-illicit': s === 'Illicit',
                                                    'xwing-font-cannon': s === 'Cannon',
                                                    'xwing-font-bomb': s === 'Bomb',
                                                    'xwing-font-crew': s === 'Crew',
                                                    'xwing-font-boost': s === 'Boost',
                                                    'xwing-font-turret': s === 'Turret',
                                                    'xwing-font-elite': s === 'Elite',
                                                    'xwing-font-hardpoint': s === 'Hardpoint',
                                                    'xwing-font-team': s === 'Team',
                                                    'xwing-font-torpedo': s === 'Torpedo',
                                                    'xwing-font-astromech': s === 'Astromech'
                                            }" alt="{{s}} slot" title="{{s}} slot" data-tooltip="{{s}} slot"></i>
                  </li>
                </ul>
              </ui-select-choices>
            </ui-select>
            <p data-ng-bind-html="'pilots.' + ship.pilot.name + '.INFO' | translate | parseIconPlaceholder"></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <table class="table">
            <tr>
              <td>{{ 'UI.Skill' | translate }}</td>
              <td><span class="label label-warning">{{ ship.stats.skill }}</span></td>
            </tr>
            <tr>
              <td>{{ 'UI.Attack' | translate }}</td>
              <td><span class="label label-danger">{{ ship.stats.attack }}</span></td>
            </tr>
            <tr>
              <td>{{ 'UI.Agility' | translate }}</td>
              <td><span class="label label-success">{{ ship.stats.agility }}</span></td>
            </tr>
            <tr>
              <td>{{ 'UI.Hull' | translate }}</td>
              <td><span class="label label-warning">{{ ship.stats.hull }}</span></td>
            </tr>
            <tr>
              <td>{{ 'UI.Shields' | translate }}</td>
              <td><span class="label label-info">{{ ship.stats.shields }}</span></td>
            </tr>
            <tr>
              <td>Actions</td>
              <td>
                <ul class="list-inline">
                  <li data-ng-repeat="action in ship.stats.actions">
                    <i class="fa xwing-font xwing-font-small fa-fw"
                       data-ng-class="{
                                            'xwing-font-boost': action === 'Boost',
                                            'xwing-font-focus': action === 'Focus',
                                            'xwing-font-evade': action === 'Evade',
                                            'xwing-font-reinforce': action === 'Reinforce',
                                            'xwing-font-targetlock': action === 'Target Lock',
                                            'xwing-font-recover': action === 'Recover',
                                            'xwing-font-coordinate': action === 'Coordinate',
                                            'xwing-font-jam': action === 'Jam',
                                            'xwing-font-barrelroll': action === 'Barrel Roll',
                                            'xwing-font-cloak': action === 'Cloak'
                                    }" alt="{{ action }}" title="{{ action }}"></i>
                    {{ action }}</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Slots</td>
              <td>
                <ul class="list-inline">
                  <li data-ng-repeat="slot in ship.pilot.slots track by $index">
                    <i class="xwing-font xwing-font-small"
                       data-ng-class="{
                                            'xwing-font-missile': slot === 'Missile',
                                            'xwing-font-cargo': slot === 'Cargo',
                                            'xwing-font-illicit': slot === 'Illicit',
                                            'xwing-font-cannon': slot === 'Cannon',
                                            'xwing-font-bomb': slot === 'Bomb',
                                            'xwing-font-crew': slot === 'Crew',
                                            'xwing-font-boost': slot === 'Boost',
                                            'xwing-font-turret': slot === 'Turret',
                                            'xwing-font-elite': slot === 'Elite',
                                            'xwing-font-hardpoint': slot === 'Hardpoint',
                                            'xwing-font-team': slot === 'Team',
                                            'xwing-font-torpedo': slot === 'Torpedo',
                                            'xwing-font-astromech': slot === 'Astromech',
                                            'xwing-font-system': slot === 'System'
                                    }" alt="{{slot}} slot" title="{{slot}} slot"></i>
                    {{ slot }}
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-sm-6">
          <div class="thumbnail">
            <maneuver-table ship="ship.stats"></maneuver-table>
            <div class="caption">
              Available Maneuvers
            </div>
          </div>

          <table class="table">
            <tr data-ng-repeat="slot in ship.pilot.slots track by $index">
              <td>
                <ui-select data-ng-model="ship.upgrades[$index]">
                  <ui-select-match allow-clear placeholder="Select {{ slot }}"
                                   popover="<p><small><em>{{ $select.selected.sources.join(', ') }}</em></small></p><p><span class='label label-danger'>{{ $select.selected.attack }}</span> <small>at Range {{ $select.selected.range }}</small></p><p>{{ 'upgrades.' + $select.selected.name + '.INFO' | translate | parseIconPlaceholder }}</p>"
                                   popover-title="{{ $select.selected.name }}"
                                   popover-trigger="mouseenter"
                                   popover-placement="left"
                                   popover-append-to-body="true"><a data-ng-click="clearSelection($event, $select)"><i class="fa fa-close"></i></a> {{$select.selected.name}} ({{$select.selected.points}})</ui-select-match>
                  <ui-select-choices repeat="upgrade in cards.upgradesById | filter:slot:upgrade.slot | filter:$select.search | filterByShip:ship | orderBy:'points'">
                    <div popover="<p><small><em>{{ upgrade.sources.join(', ') }}</em></small></p><p><span class='label label-danger'>{{ upgrade.attack }}</span> <small>at Range {{ upgrade.range }}</small></p><p> {{ 'upgrades.' + upgrade.name + '.INFO' | translate | parseIconPlaceholder }}</p>"
                         popover-title="{{ upgrade.name }}"
                         popover-trigger="mouseenter"
                         popover-placement="left"
                         popover-append-to-body="true"><span data-ng-bind-html="upgrade.name | highlight: $select.search"></span> ({{ upgrade.points }})</div>
                  </ui-select-choices>
                </ui-select>
              </td>
            </tr>

            <tr data-ng-repeat="addon in getConferredAddons(ship.conferredAddon) track by $index">
              <td>
                <ui-select data-ng-model="ship.conferredAddon[$index].addon">
                  <ui-select-match allow-clear placeholder="Select {{ addon }}"
                                   popover="<p><small><em>{{ $select.selected.sources.join(', ') }}</em></small></p><p><span class='label label-danger'>{{ $select.selected.attack }}</span> <small>at Range {{ $select.selected.range }}</small></p><p>{{ 'upgrades.' + $select.selected.name + '.INFO' | translate | parseIconPlaceholder }}</p>"
                                   popover-title="{{ $select.selected.name }}"
                                   popover-trigger="mouseenter"
                                   popover-placement="left"
                                   popover-append-to-body="true"><a data-ng-click="clearSelection($event, $select)"><i class="fa fa-close"></i></a> {{$select.selected.name}} ({{$select.selected.points}})</ui-select-match>
                  <ui-select-choices repeat="upgrade in cards.upgradesById | filter:addon:upgrade.slot | filter:$select.search | filterByShip:ship | orderBy:'points'">
                    <div popover="<p><small><em>{{ upgrade.sources.join(', ') }}</em></small></p><p><span class='label label-danger'>{{ upgrade.attack }}</span> <small>at Range {{ upgrade.range }}</small></p><p> {{ 'upgrades.' + upgrade.name + '.INFO' | translate | parseIconPlaceholder }}</p>"
                         popover-title="{{ upgrade.name }}"
                         popover-trigger="mouseenter"
                         popover-placement="left"
                         popover-append-to-body="true"><span data-ng-bind-html="upgrade.name | highlight: $select.search"></span> ({{ upgrade.points }})</div>
                  </ui-select-choices>
                </ui-select>
              </td>
            </tr>

            <tr>
              <td>
                <ui-select ng-model="ship.modifications[0]">
                  <ui-select-match placeholder="Select {{ 'UI.Mods' | translate }}"
                                   popover="<p><small><em>{{ $select.selected.sources.join(', ') }}</em></small></p><p>{{ 'modifications.' + $select.selected.name + '.INFO' | translate | parseIconPlaceholder }}</p>"
                                   popover-title="{{ $select.selected.name }}"
                                   popover-trigger="mouseenter"
                                   popover-placement="left"
                                   popover-append-to-body="true"><a data-ng-click="clearSelection($event, $select)"><i class="fa fa-close"></i></a> {{$select.selected.name}} ({{$select.selected.points}})</ui-select-match>
                  <ui-select-choices repeat="mod in cards.modificationsById | filter:$select.search | filterByShip:ship | orderBy:'points'">
                    <div popover="<p><small><em>{{ mod.sources.join(', ') }}</em></small></p> {{ 'modifications.' + mod.name + '.INFO' | translate | parseIconPlaceholder }}"
                         popover-title="{{ mod.name }}"
                         popover-trigger="mouseenter"
                         popover-placement="left"
                         popover-append-to-body="true"><span data-ng-bind-html="mod.name | highlight: $select.search"></span> ({{ mod.points }})</div>
                  </ui-select-choices>
                </ui-select>
              </td>
            </tr>
            <tr ng-show="hasTitles(ship)">
              <td>
                <ui-select ng-model="ship.title">
                  <ui-select-match placeholder="Select {{ 'UI.Title' | translate }}"
                                   popover="{{ 'titles.' + $select.selected.name + '.INFO' | translate | parseIconPlaceholder }}"
                                   popover-trigger="mouseenter"
                                   popover-placement="left"
                                   popover-append-to-body="true"><a data-ng-click="clearSelection($event, $select)"><i class="fa fa-close"></i></a> {{$select.selected.name}} ({{$select.selected.points}})</ui-select-match>
                  <ui-select-choices repeat="title in cards.titlesById | filter:$select.search | filterByShip:ship | orderBy:'points'">
                    <div popover="{{ 'titles.' + title.name + '.INFO' | translate | parseIconPlaceholder }}"
                         popover-trigger="mouseenter"
                         popover-placement="left"
                         popover-append-to-body="true">
                      <span data-ng-bind-html="title.name | highlight: $select.search"></span> ({{ title.points }})</div>
                  </ui-select-choices>
                </ui-select>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<hr/>

<h5>Squad Output</h5>
  <pre>
    {{ ships | json }}
  </pre>
</div>